<div class="text_area">
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% unless @user != current_user %>
    <p>
    <%= link_to 'Edit your profile', edit_user_path(@user) %>
    </p>
<% end %>


<% unless @user.posts.empty? %>
   <% unless @user != current_user %>
    <b>Your Posts:</b>
   <% else %>
    <b>Posts by <%= @user.username %>:</b>
   <% end %>
    <table class="posts" summary="User posts">
         <%= render :partial => "/posts/post_short", :collection => @posts, :as => :post%>
    </table>
<% end %>


<p>
<% unless @user.replies.empty? %>
   <% unless @user != current_user %>
    <b>Posts You've Replied To:</b> 
   <% else %>
    <b>Posts Replied to by <%= @user.username %>:</b>
   <% end %>

   <% unique_replies = [] %>
   <% for reply in @user.replies do %>
     <% unique_replies.push(reply.post) unless unique_replies.include?(reply.post)%>
   <% end%>

   <% for post in unique_replies do %>
     <span class="reply_link"><%= link_to post.title, post %> </span>
   <% end%>
  
<% end %>
</p>

</div>
