<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
<% unless @user.posts.empty? %>
    <table class="posts" summary="User posts">
         <%= render :partial => "/posts/post_short", :collection => @posts, :as => :post%>
    </table>
<% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
