<h1>Hello, talkaboutco.de</h1>

<% if signed_in? %>
<%= link_to "You", current_user %>
<%= link_to "Sign out", signout_path %>
<% else %>
<%= link_to "Sign in", signin_path %>
<br />
<%= link_to "Sign up", signup_path %>
<% end %>

<br />
<% @posts = Post.find(:all, :order => "created_at DESC", :limit => 3) %>
<p>
<table class="posts" summary="current posts">
  <%= render :partial => "/posts/post_short", :collection => @posts, :as => :post%>
</table>
</p>




