<tr>
<td class="post">

<table cellspacing="0" id="post">
<tr>
    <td id="post_hdr">
    <strong> <span class="title"><span class="title"><%= link_to post.title, post %> </span> </span> </strong>

    </td>
</tr>
<tr>
    <td id="post_bdy">
    <span class="audio"><%= embed(post.audio_url) %> </span>
    </td>
</tr>
<tr>
    <td id="post_ftr">
    Posted by <%= post.user.username %> at <span class="timestamp"><%= post.created_at %> </span>
    </td>
</tr>
</table>
    <% if signed_in? and @user == current_user %>
        <%= button_to "Delete Post", post, :method => :delete %>  
    <% end %>
</td>
</tr>
