<div class="post_area">

<table cellspacing="0" id="post">
<tr>
    <td class="post_hdr">
    <strong> <span class="title"><%= post.title %> </span> </strong>   
    </td>
</tr>

<tr>
    <td class="post_bdy">
    <span class="audio"><%= embed(post.audio_url) %> </span>
    <p>
    <b>Code:</b>
    <form name="codeboxform">
        <textarea class="code_box" rows="8" cols="60" name="codebox" id="wombat" readonly="readonly"></textarea>
    </form>
    <script language="javascript" type="text/javascript">
    document.getElementById('wombat').value = "<%= post.code_snippet %>"
    </script>

    </p>
    <p>
    <b>Tags:</b>
    <% @post.tags.each do |tag| %>
      <%= link_to tag, "/tags/#{tag}" %>
    <% end %>
    </p>
    </td>
</tr>
<tr>
    <td class="post_ftr">
    Posted by <%= post.user.username %> at <span class="timestamp"><%= post.created_at %> </span>
    </td>
</tr>
</table>
    <% if signed_in? and post.user == current_user %>
        <%= button_to "Delete Post", post, :method => :delete %>  
    <% end %>
</div>
