<div class="post_area">

<table cellspacing="0" id="post">
<tr>
    <td id="post_hdr">
    <strong> <span class="title"><%= post.title %> </span> </strong>   
    </td>
</tr>

<tr>
    <td id="post_bdy">
    <span class="audio"><%= embed(post.audio_url) %> </span>
    <p>
    <b>Code:</b>  <div id="post_code" ><span class="code"><%= post.code_snippet %> </span></div>
    </p>   
    <p>
    <b>Tags:</b>
    <% @post.tags.each do |tag| %>
      <%= link_to tag, "/tags/#{tag}" %>
    <% end %>
    </p>
    </td>
</tr>
<tr>
    <td id="post_ftr">
    Posted by <%= post.user.username %> at <span class="timestamp"><%= post.created_at %> </span>
    </td>
</tr>
</table>

</div>
