<h1>New post</h1>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="http://connect.soundcloud.com/sdk.js"></script>  
	<script>
    // ALL THIS WILL BE MOVED I PROMISE
	  SC.initialize({
	    client_id:    "aa0146325fed3c61bc6e62357f8b3245",
	    redirect_uri: "http://tide-pool.ca/record/soundcloud-callback.html" 
	  });
	
	  $("#recorderUI.reset #controlButton").live("click", function(e){
	    updateTimer(0);
	    SC.record({
	      start: function(){
	        setRecorderUIState("recording");
	      },
	      progress: function(ms, avgPeak){
	        updateTimer(ms);
	      }
	    });
	    e.preventDefault();
	  });
	
	  $("#recorderUI.recording #controlButton, #recorderUI.playing #controlButton").live("click", function(e){
	    setRecorderUIState("recorded");
	    SC.recordStop();
	    e.preventDefault();
	  });
	
	  $("#recorderUI.recorded #controlButton").live("click", function(e){
	    updateTimer(0);
	    setRecorderUIState("playing");
	    SC.recordPlay({
	      progress: function(ms){
	        updateTimer(ms);
	      },
	      finished: function(){
	        setRecorderUIState("recorded");
	      }
	    });
	    e.preventDefault();
	  });
	
	  $("#reset").live("click", function(e){
	    SC.recordStop();
	    setRecorderUIState("reset");
	    e.preventDefault();
	  });
	
	  $("#upload").live("click", function(e){
 	    setRecorderUIState("uploading");       
	    // title and url creator goes here, but I don't really need it
		// then I need to get SC.Oembed
		// This appears to be a freshness issue.  Hmmm.  
	    
	    var upload = function(){
          var generatedTitle = document.getElementById("sc_url").innerHTML);
          alert(generatedTitle);
	      $("#uploadStatus").html("Uploading...");
	      SC.recordUpload({
	        track: {
	          title: generatedTitle,
	          sharing: "public"
	        }
	      }, function(track){
		      	// SC.oEmbed("http://soundcloud.com/talkaboutcode/untitled-recording", {color: "ff0066"},  document.getElementById("uploadStatus"));
		      	// alert(track.permalink_url);
	        	$("#uploadStatus").html("Uploaded: <a href='" + track.permalink_url + "'>" + track.permalink_url + "</a>");
	      });
	    }
	
	    // Somewhere in here I need to get my access token in.
	    if(SC.isConnected()){
	      upload();
	    }else{
	      SC.connect({
	        connected: upload
	      });
	    }
	
	    e.preventDefault();
	  });
	
	  function updateTimer(ms){
	    $("#timer").text(SC.Helper.millisecondsToHMS(ms));
	  }
	
	  function setRecorderUIState(state){
	    // state can be reset, recording, recorded, playing, uploading
	    // visibility of buttons is managed via CSS
	    $("#recorderUI").attr("class", state);
	  }
	</script>





<%= form_for @post do |f| %>
  <div class="field">
    Title:  <%= f.text_field :title %>
  </div>
  <div class="field">
    Code:  <%= f.text_area :code_snippet %>
  </div>

  <div id="sc_url"><%= generate_sc_track_name %></div>

	<div id="recorderUI" class="reset">
	  <a href="#" id="controlButton" class="record">Record / Pause </a><span id="timer" class="hidden">0:00</span>
	  <div id="otherControls">
	    <a href="#" id="reset" class="button">Reset</a>
	    <a href="#" id="upload" class="button">Upload</a>
	  </div>
	  <div id="uploadStatus"></div>
	</div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

<%= link_to 'Back', posts_path %>
