<h1>New post</h1>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="/assets/sdk.js"></script>
<script src="/assets/sc_recorder.js"></script>

<%= form_for @post do |f| %>
  <div class="field">
    Title:  <%= f.text_field :title %>
  </div>
  <div class="field">
    Code:  <%= f.text_area :code_snippet %>
  </div>

  <div class="field">
    Tags:  <%= f.text_field :tags %>
  </div>

   <%= render 'record' %>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

<%= link_to 'Back', posts_path %>

<script>document.getElementsByName('commit')[0].disabled = true;</script>
