<h1>New post:</h1>
<div class="text_area">
<%= form_for @post do |f| %>

  <b>Title:</b>  <i><small>(what do you want to talk about?)</i></small>
  <div class="field">
  <%= f.text_field :title %> 
  </div>

  <br />

  <b>Record:</b> <i><small>(press record, and talk about your code.  Don't forget to press upload!)</i></small>
  <%= render 'record' %>

  <br /><br />

  <b>Code:</b> <i><small>(put your code here.)</i></small>
  <br />
  <div class="field">
  <%= f.text_area :code_snippet, :size => "60x8" %>
  </div>

  <br />

  <b>Tags:</b> <i><small>(any number of tags, comma separated, please.)</i></small>
  <br />
  <div class="field">
  <%= f.text_field :tags %>
  </div>

  <br />

  <div class="actions">
    <%= f.submit "Create Post" %> <i><small>(you have to upload audio before you can make a new post!)</i></small>
  </div>
<% end %>
</div>

<script>
document.getElementsByName('commit')[1].disabled = true;
</script>
