<p id="notice"><%= notice %></p>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="/assets/sdk.js"></script>  
	<script>
    // ALL THIS WILL BE MOVED I PROMISE.  And that redirect URI might break in production, but I don't think I need it, so
	  SC.initialize({
	    client_id:    "aa0146325fed3c61bc6e62357f8b3245",
	    redirect_uri: "http://localhost:3000/soundcloud-callback.html" 
	  });
	
	  $("#recorderUI.reset #controlButton").live("click", function(e){
        alert("We're calling the record");
	    updateTimer(0);
	    SC.record({
	      start: function(){
	        setRecorderUIState("recording");
	      },
	      progress: function(ms, avgPeak){
	        updateTimer(ms);
	      }
	    });
	    e.preventDefault();
	  });
	
	  $("#recorderUI.recording #controlButton, #recorderUI.playing #controlButton").live("click", function(e){
	    setRecorderUIState("recorded");
	    SC.recordStop();
	    e.preventDefault();
	  });
	
	  $("#recorderUI.recorded #controlButton").live("click", function(e){
	    updateTimer(0);
	    setRecorderUIState("playing");
	    SC.recordPlay({
	      progress: function(ms){
	        updateTimer(ms);
	      },
	      finished: function(){
	        setRecorderUIState("recorded");
	      }
	    });
	    e.preventDefault();
	  });
	
	  $("#reset").live("click", function(e){
	    SC.recordStop();
	    setRecorderUIState("reset");
	    e.preventDefault();
	  });
	
	  $("#upload").live("click", function(e){
        alert("We're about to upload");
 	    setRecorderUIState("uploading");       
	    // title and url creator goes here, but I don't really need it
		// then I need to get SC.Oembed
		// This appears to be a freshness issue.  Hmmm.  
	    
	    var upload = function(){
	      $("#uploadStatus").html("Uploading...");
	      SC.recordUpload({
	        track: {
	          title: document.getElementById("sc_url").innerHTML,
	          sharing: "public"
	        }
	      }, function(track){
	        	$("#uploadStatus").html("Uploaded: <a href='" + track.permalink_url + "'>" + track.permalink_url + "</a>");
	      });
	    }
	
	    // The oauth token for talkaboutcode has been hacked in to my local sdk.js.  Yes, really.  I apologize.
	    if(SC.isConnected()){
	      upload();
	    }else{
          upload();
	    }
	
	    e.preventDefault();
	  });
	
	  function updateTimer(ms){
	    $("#timer").text(SC.Helper.millisecondsToHMS(ms));
	  }
	
	  function setRecorderUIState(state){
	    // state can be reset, recording, recorded, playing, uploading
	    // visibility of buttons is managed via CSS
	    $("#recorderUI").attr("class", state);
	  }
	</script>



<p>
<table class="posts" summary="User posts">
     <%= render @post %>
</table>
</p>

<p>
  <b>User:</b>
  <%= @post.user.username %>
</p>


<p>
  <b>Replies:</b>
  <% @post.replies.each do |reply| %>
    <%= embed(reply.audio_url) %>
    By <%= reply.user.username %>
  <% end %>
</p>


<p>
  <b>Post Reply:</b>
  <%= form_for [@post, @post.replies.build] do |f| %>

  <div id="sc_url"><%= generate_sc_track_name %></div>

	<div id="recorderUI" class="reset">
	  <a href="#" id="controlButton" class="record">Record / Pause </a><span id="timer" class="hidden">0:00</span>
	  <div id="otherControls">
	    <a href="#" id="reset" class="button">Reset</a>
	    <a href="#" id="upload" class="button">Upload</a>
	  </div>
	  <div id="uploadStatus"></div>
	</div>

  <div class="actions">
    <%= f.submit "Post Reply" %>
  </div>
<% end %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
