<%= render @post %>

<div class="post_area">
<table cellspacing="0" id="replies">
<tr>
    <td id="post_hdr">
    <strong>Replies:</strong>   
    </td>
</tr>
 <%= render :partial => "/replies/replies", :collection => @post.replies, :as => :reply%>
</table>
</div>

<div class="text_area">
<% if signed_in? %>
    <p>
      <b>Post Reply:</b> <i><small>(press record, and talk about their code!)</i></small>
      <%= form_for [@post, @post.replies.build] do |f| %>
      <%= render 'record' %>
      <div class="actions">
        <%= f.submit "Post Reply" %>
      </div>
    <% end %>
    </p>
<% else %>
    <%= link_to "Sign in to post a reply", signin_path %>
<% end %>
</div>

<script>
document.getElementsByName('commit')[1].disabled = true;
</script>
