<%= render @post %>

<p>
  <b>Replies:</b>
  <% @post.replies.each do |reply| %>
    <%= embed(reply.audio_url) %>
    By <%= reply.user.username %>
  <% end %>
</p>

<% if signed_in? %>
    <p>
      <b>Post Reply:</b>
      <%= form_for [@post, @post.replies.build] do |f| %>
      <%= render 'record' %>
      <div class="actions">
        <%= f.submit "Post Reply" %>
      </div>
    <% end %>
    </p>
<% else %>
    <%= link_to "Sign in to post a reply", signin_path %>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<script>
document.getElementsByName('commit')[1].disabled = true;
</script>
